{% extends 'base.html' %}
<!--父模板的继承-->
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/blog.css') }}">
    <script src="static/js/jquery.min.js"></script>
    <script>
    $(document).ready(function () {
        $("#testbtn").click(function () {
            alert("测试跳转");
            window.location.href = "http://www.jb51.net";
        });
        $("#loginbtn").click(function () {
            var phone = $("#inputPhone").val().replace(/\s+/g, "");
            var password = $("#inputPassword").val().replace(/\s+/g, "");
            x = document.getElementById("message");
            if (phone==""||phone.length!=11){
                x.innerHTML="请填写正确的手机号码";
            } else if (password==""){
                x.innerHTML="密码不能为空!";
            } else {
                var data = {
                    'phone':phone,
                    'password':password,
                };
                $.ajax({
                    type:'POST',
                    url:'{{ url_for("login") }}',
                    data:data,
                    dataType:'json',
                    success:function (datax) {
                        if(datax["result"]=="error"){
                            x.innerHTML = "手机号和用户名不匹配!";
                        }else {
                            window.location.href = "http://127.0.0.1:5000/index";
                        }
                    }
                })
            }
        })
    })
    </script>
{% endblock %}

{% block title %}登录{% endblock %}

{% block main %}
    <div class="container">
    <form class="form-signin">
        <h2 class="form-signin-heading">请登录</h2>
        <p id="message" style="text-align: center;color: #d43f3a"></p>
        <label for="inputPhone" class="sr-only">phone</label>
        <input type="phone" id="inputPhone" class="form-control" placeholder="手机号码" required autofocus>
        <br/>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="密码" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> 记住我
            </label>
            <a class="" href="#" style="float:right;">
                 忘记密码?
            </a>
        </div>
        <a class="btn btn-lg btn-primary btn-block" id="loginbtn">立即登录</a>
    </form>
</div> <!-- /container -->
{% endblock %}